footer {
  /* 
    These two lines replicate the "blurry white background"
    effect, as seen in iMessage
  */
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.messageInput {
  background-color: white;
  border-radius: 10px;
}

.footerSpan {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}
.footerForm {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}